.comment-message{
  background-color: #eee;
}
.hover-red:hover{
  background-color: red !important;
}
.w3-theme-l2 a {
  color: white;
}
.w3-theme-l2 a:hover {
  color: white;
  font-weight: bold;
}
.comment-toolbar a {
  color: blue;
}
textarea {
  color: black !important;
}
