$rounded-corners: 7px;

details,
details summary {
  border-radius: $rounded-corners;
}

details[open] summary {
  border-radius: $rounded-corners $rounded-corners 0 0;
}
.member-main .box-three {
  padding-left: 0.5em;
}
.member-main .box-one {
  padding-right: 0.5em;
}
.member-main .box-one,
.member-main .box-three {
  .w3-card,
  details summary,
  details[open] .body,
  details[open] summary {
    padding: 0.5em;
  }
}

.member-main,
.member-main {
  .w3-card {
    border-radius: $rounded-corners;
  }
}

.member-main .box-two > .ember-view > {
    .w3-card:first-child, .w3-card:first-child header{
      border-radius: $rounded-corners $rounded-corners 0 0;
    }
}

.member-main .box-two > .ember-view > .ember-view > {
    .w3-card:first-child, .w3-card:first-child header{
      border-radius: 0 0 $rounded-corners $rounded-corners;
    }
}

.hover-red:hover {
  background-color: red !important;
}

.w3-theme-l2 a {
  color: white;
}

.w3-theme-l2 a:hover {
  color: white;
  font-weight: bold;
}

.comment-toolbar a {
  color: blue;
}

textarea {
  color: black !important;
}
