<div id="body">
  <section class="featured">
    <div class="content-wrapper">
      <hgroup class="title">
        <h1>About Christian Abide.  </h1>
        <h2>Personal Connections (Jesus, Chruches, Leaders, People)!</h2>
      </hgroup>
      <p>Abide:  Accept or act in accordance with.</p>
    </div>
  </section>

  <section class="main-content">
    <h3>Bringing the Christian community closer together.</h3>
    <p>Christians are challenged by the bible to act in accordance with Jesus.  To abide with Jesus because he abides with us. (1 Peter 1:13-25)</p>
    <p>Christians are also to strenghten and encourage each other. (Romans 1:11-12)</p>
    <p>These are the 2 guiding principles of Christian Abide.  </p>
    <img src="/image/page_is_under_construction.jpg"/>
      <!--
    <p>At Christian abide you will find these features to encourage you in your faith walk.</p>
    <ul>
      <li>Share your faith with fellow believers</li>
      <li>Let friends share their thoughts on your CA page</li>
      <li>Share a cause and let others join the cause to build up the faith of everyone involved</li>
      <li>Stay in contact with your fellow Christians.</li>
      <li>Stay in touch with the Christian Community.</li>
      <li>Match your needs with God given abilities of fellow Christians and let them build you up in your faith</li>
      <li>
        Put your God given gifts to work.  Contribute to causes, serving opportunities, and events.  Contribute your:
        <ul>
          <li>Prayers</li>
          <li>Items</li>
          <li>Money</li>
          <li>Time</li>
          <li>Knowledge</li>
          <li>Leadership</li>
          <li>Skills</li>
        </ul>
      </li>
      <li>Control who sees your information</li>
      <li>Abide with friends, groups and organizations</li>
      <li>
        Create events and let people:
        <ul>
          <li>Help you lead</li>
          <li>Help you plan and organize</li>
          <li>Sign up to provied items like food</li>
          <li>Sing up to pray for your event</li>
          <li>Sign up to participate</li>
          <li>Assist in other ways</li>
        </ul>
      </li>
      <li>Create a schedule for a series of events like an ongoing bible study, group meetings or a sports league (practices and games).</li>
      <li>Be Blessed by other Christians ready to help fellow Christians.</li>
      <li> <a href="http://christianabide.azurewebsites.net/register">Join Christian Abide </a><span>now for free!</span></li>
    </ul>
    <p>Coming soon:</p>
    <ul>
      <li>Set up locations and attach blueprints, and rooms and reserve the rooms for events/Schedules</li>
      <li>Create online rooms for events where you can share images, documents, and videos.</li>
      <li>Create online groups to share events, causes, and many other CA items</li>
      <li>Organize bible studies and other group activities.</li>
    </ul>
    <p>Organizations like chruches:</p>
    <ul>
      <li>
        Do you want your church to
        <ul>
          <li>grow in numbers?</li>
          <li>grow spiritually?</li>
          <li>Be more organized, efficient and effective?</li>
          <li>Make better use of today's technology?</li>
        </ul>
      </li>
      <li>
        Do you want your members to
        <ul>
          <li>Be more informed, energized, excited, engaged and aware of your church's vision, direction, events and opportunities?</li>
          <li>Feel like they have opportunities to participate?</li>
          <li>Be more connected with each other, the leaders and the Christian Community?</li>
        </ul>
      </li>
      <li>If you would like to see your church grow in the above areas please <a href="http://christianabide.azurewebsites.net/register">Join Christian Abide</a><span>today!</span></li>
    </ul>
  -->
  </section>
</div>
