<div id="body">
   <section class="featured">
      <div class="content-wrapper">
         <hgroup class="title">
            <h1>About Christian Computer Solutions.  </h1>
            <h2>Applying todays technology to Christian needs</h2>
         </hgroup>
         <p>Here to serve because we have been served</p>
      </div>
   </section>
   <section class="main-content">
      <h3>Christian Computer Solutions is about applying todays technology to Christian needs.</h3>
      <p>The Christian church on earth (not a building but all the people) are called to gather, serve and encourage each other. (1 Peter 1:13-25)  </p>
      <p>These are all things that social networks and other modern technology can facilitate.  We believe, this can be a great way to reach many in the technologically advanced society we live in.  We are committed to developing today’s technology to facilitate Christian believers in building each other up in the faith.</p>
      <p>Join us in this mission to build up the Christian church!</p>
   </section>
</div>
